:root {
    --primeira-cor: #9B050C;
    --segunda-cor: #D5000A;
    --terceira-cor: #FD5A61;
    --quarta-cor: #4A0206;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li,
ul,
ol {
    list-style: none;
}

body {
    font-family: "Lexend", sans-serif;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    background-color: var(--primeira-cor);
    height: 130px;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.input {
    background-image: url('./img/Vector.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
    border: 1px solid var(--borda-color);
    padding-left: 20px;
    width: 963px;
    height: 31px;
    background-color: var(--segunda-cor);
    font-size: 15px;
    font-family: "Lexend", sans-serif;
    color: var(--terceira-cor);
    border-radius: 30px;
}

input::placeholder {
    color: var(--terceira-cor);
    opacity: 1;
}

.icons {
    display: flex;
    gap: 30px;
    height: 25px;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.destacado {
    color: white;
    text-decoration: underline;
}

.destacado2 {
    color: white;
    text-decoration: underline;
}



/* MAIN */
.stylesInfos {
    height: 725px;
    background-color: white;
    background-image: url('./img/styles-background.png');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stylesDetails {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.details2 img {
    width: 450px;
    height: 614px;
    border: 5px solid var(--quarta-cor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stylesDetails h1 {
    font-family: "Lexend" sans-serif;
    font-size: 50px;
    color: var(--quarta-cor);
}

.container-detalhes {
    width: 548px;
    height: 542px;
    background-color: white;
    border: 5px solid var(--quarta-cor);
    border-radius: 10px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.infos-styles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descricao-estilo {
    width: 455px;
    height: 33px;
    background-color: var(--segunda-cor);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    flex-direction: column;
}

.container-detalhes h3 {
    font-family: "Lexend" sans-serif;
    font-size: 18px;
    color: var(--quarta-cor);
    font-weight: normal;
}

.description-style {
    width: 447px;
}

.listaPersonagens {
    width: 455px;
    height: 33px;
    background-color: var(--segunda-cor);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    flex-direction: column;
}

.listaCharacters ul {
    color: var(--quarta-cor);
    font-size: 23px;
    padding-left: 20px;
}



/* FOOTER */
footer {
    height: 169px;
}

.all-footer {
    height: 169px;
    background-image: url('./img/footer-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid var(--quarta-cor);
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.infos {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.copyright {
    height: 50px;
    display: grid;
    border-top: 1px solid white;
    color: white;
    justify-content: center;
    align-items: center;
}

.redes-sociais {
    display: flex;
    flex-direction: column;
}

.redes-sociais a {

    color: white;
}



/* responsividade para tablet */
@media (max-width:1024px) {
    header {
        background-color: var(--primeira-cor);
        width: 1024px;
        height: 130px;
    }

    .container-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1024px;
        gap: 30px;
    }

    .input {
        background-image: url('./img/Vector.png');
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: 20px;
        border: 1px solid var(--borda-color);
        padding-left: 10px;
        width: 500px;
        height: 31px;
        background-color: var(--segunda-cor);
        font-size: 15px;
        font-family: "Lexend", sans-serif;
        color: var(--terceira-cor);
        border-radius: 30px;
    }

    input::placeholder {
        color: var(--terceira-cor);
        opacity: 1;
    }

    .icons {
        display: flex;
        gap: 30px;
        height: 25px;
    }

    .login {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .destacado {
        color: white;
        text-decoration: underline;
    }

    .destacado2 {
        color: white;
        text-decoration: underline;
    }



    /* MAIN */
    .stylesInfos {
        width: 1024px;
        height: 725px;
        background-color: white;
        background-image: url('./img/styles-background.png');
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stylesDetails {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .details2 img {
        width: 360px;
        height: 553px;
        border: 5px solid var(--quarta-cor);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stylesDetails h1 {
        font-family: "Lexend" sans-serif;
        font-size: 45px;
        color: var(--quarta-cor);
    }

    .container-detalhes {
        width: 450px;
        height: 492px;
        background-color: white;
        border: 5px solid var(--quarta-cor);
        border-radius: 10px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }

    .infos-styles {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .descricao-estilo {
        width: 375px;
        height: 23px;
        background-color: var(--segunda-cor);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        flex-direction: column;
    }

    .container-detalhes h3 {
        font-family: "Lexend" sans-serif;
        font-size: 16px;
        color: var(--quarta-cor);
        font-weight: normal;
    }

    .description-style {
        width: 400px;
    }

    .listaPersonagens {
        width: 375px;
        height: 23px;
        background-color: var(--segunda-cor);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        flex-direction: column;
    }

    .listaCharacters ul {
        color: var(--quarta-cor);
        font-size: 18px;
        padding-left: 20px;
    }



    /* FOOTER */
    footer {
        height: 169px;
    }

    .all-footer {
        height: 169px;
        background-image: url('./img/footer-img.png');
        background-position: center;
        background-repeat: no-repeat;
        border: 3px solid var(--quarta-cor);
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .infos {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }

    .copyright {
        height: 50px;
        display: grid;
        border-top: 1px solid white;
        color: white;
        justify-content: center;
        align-items: center;
    }

    .redes-sociais {
        display: flex;
        flex-direction: column;
    }

    .redes-sociais a {

        color: white;
    }
}



/* responsividade para celular */
@media (max-width:390px) {

    header {
        background-color: var(--primeira-cor);
        width: 100%;
        height: 100px;
    }

    .container-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .logo {
        height: 75px;
    }

    .input {
        background-image: url('./img/Vector.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 10px;
        border: 1px solid var(--borda-color);
        padding-left: 10px;
        width: 180px;
        height: 20px;
        background-color: var(--segunda-cor);
        font-size: 7px;
        font-family: "Lexend", sans-serif;
        color: var(--terceira-cor);
        border-radius: 30px;
    }

    input::placeholder {
        color: var(--terceira-cor);
        opacity: 1;
    }

    .icons {
        display: flex;
        gap: 30px;
        height: 20px;
    }

    .login {
        display: none;
    }

    .destacado,
    .destacado2 {
        color: white;
        text-decoration: underline;
    }



    /* MAIN */
    .stylesInfos {
        width: 390px;
        height: 1250px;
        background-color: white;
        background-image: url('./img/background-character.png');
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stylesDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        gap: 25px;
    }

    .details2 img {
        width: 360px;
        height: 553px;
        border: 5px solid var(--quarta-cor);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stylesDetails h1 {
        font-family: "Lexend" sans-serif;
        font-size: 40px;
        color: var(--quarta-cor);
    }

    .container-detalhes {
        width: 350px;
        height: 492px;
        background-color: white;
        border: 5px solid var(--quarta-cor);
        border-radius: 10px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }

    .infos-styles {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .descricao-estilo {
        width: 305px;
        height: 23px;
        background-color: var(--segunda-cor);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        flex-direction: column;
    }

    .description-style h3 {
        font-family: "Lexend" sans-serif;
        font-size: 13px;
        color: var(--quarta-cor);
        font-weight: normal;
    }

    .listaPersonagens {
        width: 305px;
        height: 23px;
        background-color: var(--segunda-cor);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 13px;
        flex-direction: column;
    }

    .listaCharacters ul {
        color: var(--quarta-cor);
        font-size: 16px;
        padding-left: 20px;
    }

    .description-style {
        width: 250px;
    }



    /* FOOTER */
    footer {
        height: auto;
    }

    .all-footer {
        height: 300px;
        background-image: url('./img/footer-img.png');
        background-position: center;
        background-repeat: no-repeat;
        border: 3px solid var(--quarta-cor);
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .infos {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding-top: 15px;
    }

    .infos h1 {
        font-size: 17px;
    }

    .copyright {
        display: flex;
        border-top: 1px solid white;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .redes-sociais {
        display: flex;
        flex-direction: column;
    }

    .redes-sociais a {

        color: white;
    }
}