:root {
    --primeira-cor: #9B050C;
    --segunda-cor: #D5000A;
    --terceira-cor: #FD5A61;
    --quarta-cor: #4A0206;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend", sans-serif;
    align-items: center;
    justify-content: center;
}



/* HEADER */
header {
    background-color: var(--primeira-cor);
    height: 130px;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.input {
    background-image: url('./img/Vector.png');
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
    border: 1px solid var(--borda-color);
    padding-left: 20px;
    width: 963px;
    height: 31px;
    background-color: var(--segunda-cor);
    font-size: 15px;
    font-family: "Lexend", sans-serif;
    color: var(--terceira-cor);
    border-radius: 30px;
}

input::placeholder {
    color: var(--terceira-cor);
    opacity: 1;
}

.icons {
    display: flex;
    gap: 30px;
    height: 25px;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.destacado {
    color: white;
    text-decoration: underline;
}

.destacado2 {
    color: white;
    text-decoration: underline;
}



/* MAIN */
.characterInfos {
    height: 981px;
    background-color: white;
    background-image: url('./img/background-character.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.characterDetails {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.details1 img {
    width: 480px;
    height: 783px;
    border: 5px solid var(--quarta-cor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 480px;
}

.details1 p {
    font-family: "Inter" sans-serif;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    color: var(--quarta-cor);
}

.characterDetails h1 {
    font-family: "Lexend" sans-serif;
    font-size: 50px;
    color: var(--quarta-cor);
}

.container-details {
    width: 635px;
    height: 710px;
    background-color: white;
    border: 5px solid var(--quarta-cor);
    border-radius: 10px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.idade {
    width: 455px;
    height: 33px;
    background-color: var(--segunda-cor);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    flex-direction: column;
}

.genero {
    width: 455px;
    height: 33px;
    background-color: var(--segunda-cor);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    flex-direction: column;
}

.raca {
    width: 455px;
    height: 33px;
    background-color: var(--segunda-cor);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    flex-direction: column;
}

.descricao {
    width: 455px;
    height: 33px;
    background-color: var(--segunda-cor);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    flex-direction: column;
}

.container-details h3 {
    font-family: "Lexend" sans-serif;
    font-size: 18px;
    color: var(--quarta-cor);
    font-weight: normal;
}

.description {
    width: 447px;
}



/* FOOTER */
footer {
    height: 169px;
}

.all-footer {
    height: 169px;
    background-image: url('./img/footer-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid var(--quarta-cor);
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.infos {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.copyright {
    height: 50px;
    display: grid;
    border-top: 1px solid white;
    color: white;
    justify-content: center;
    align-items: center;
}


/* responsividade para tablet */
@media (max-width:1024px) {
    header {
        background-color: var(--primeira-cor);
        width: 1024px;
        height: 130px;
    }

    .container-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1024px;
        gap: 30px;
    }

    .input {
        background-image: url('./img/Vector.png');
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: 20px;
        border: 1px solid var(--borda-color);
        padding-left: 10px;
        width: 500px;
        height: 31px;
        background-color: var(--segunda-cor);
        font-size: 15px;
        font-family: "Lexend", sans-serif;
        color: var(--terceira-cor);
        border-radius: 30px;
    }

    input::placeholder {
        color: var(--terceira-cor);
        opacity: 1;
    }

    .icons {
        display: flex;
        gap: 30px;
        height: 25px;
    }

    .login {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .destacado {
        color: white;
        text-decoration: underline;
    }

    .destacado2 {
        color: white;
        text-decoration: underline;
    }



    /* MAIN */
    .characterInfos {
        width: 1024px;
        height: 719px;
        background-color: white;
        background-image: url('./img/background-character.png');
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .characterDetails {
        display: flex;
        flex-direction: row;
        gap: 25px;
    }

    .details1 img {
        width: 360px;
        height: 553px;
        border: 5px solid var(--quarta-cor);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quote {
        width: 353px;
    }

    .details1 p {
        font-family: "Inter" sans-serif;
        font-weight: bold;
        font-size: 15px;
        font-style: italic;
        color: var(--quarta-cor);
    }

    .characterDetails h1 {
        font-family: "Lexend" sans-serif;
        font-size: 37px;
        color: var(--quarta-cor);
    }

    .container-details {
        width: 450px;
        height: 492px;
        background-color: white;
        border: 5px solid var(--quarta-cor);
        border-radius: 10px;
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }

    .informacoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .idade {
        width: 375px;
        height: 23px;
        background-color: var(--segunda-cor);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        flex-direction: column;
    }

    .genero {
        width: 375px;
        height: 23px;
        background-color: var(--segunda-cor);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        flex-direction: column;
    }

    .raca {
        width: 375px;
        height: 23px;
        background-color: var(--segunda-cor);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        flex-direction: column;
    }

    .descricao {
        width: 375px;
        height: 23px;
        background-color: var(--segunda-cor);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 16px;
        flex-direction: column;
    }

    .container-details h3 {
        font-family: "Lexend" sans-serif;
        font-size: 16px;
        color: var(--quarta-cor);
        font-weight: normal;
    }

    .description {
        width: 400px;
    }



    /* FOOTER */
    footer {
        height: 169px;
    }

    .all-footer {
        height: 169px;
        background-image: url('./img/footer-img.png');
        background-position: center;
        background-repeat: no-repeat;
        border: 3px solid var(--quarta-cor);
    }

    .footer {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .infos {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }

    .copyright {
        height: 50px;
        display: grid;
        border-top: 1px solid white;
        color: white;
        justify-content: center;
        align-items: center;
    }
}